html, button, p, span, ul, li, ol, 
body {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  --gap-width: 8px;
	--color-neutral-000: #000;
	--color-neutral-aaa: #AAA;
	--color-neutral-999: #999;
	--color-neutral-000: #FFF;
	--color-tag-border-red: rgba(248,89,89,0.5);
	--color-tag-red: #F85959;
}

body {
  min-width: 1220px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a, a:link, a:hover, a:visited {
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

ol, ul, li {
	list-style: none;
}

body {
  max-width: 100vw;
	min-height: 100vh;
}

.btn_icon {
    font-family: ttIcons!important;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
}
