.Home {
  margin: 0;
  padding: 0;
}

.Home header {
  display: block;
  z-index: 999;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Home main {
  margin-top: 240px;
}

.bottom {
  position: fixed;
  bottom: 0px;
}
.MenuBar {
  top: 132px;
  height: 111px;
  background: #f4f5f6;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.more {
  float: right;
  position: relative;
}
.shadow {
  left: -30px;
  height: 108px;
  width: 30px;
  position: absolute;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABXCAQAAACjUt0DAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABIAAABXAK421QoAAAFiSURBVEjH1ZbbtoMgDERnKP//yaYPVSAhF077dHQtamU7k0RKAxwcPCF4ItF+tWMNsVZS91uJhNlRX7FGPMgizOrEObJSiZUUAnRkR6q0qnErm7Lhc9UDBaXUt0kN0FOaOo4SQ5BRCahOA3HT5KwTE50GZhV37VazJKYljjE2SE+sPsittC1XW/FmgNVsZJcvuhvrAbLqffNadPXLYgaLzs8wWSo6rk9FYdeBUW/x1DRswfS6ysuNlcDZ7ssTSCpIfDsZn/J8b+Omh8pjR/X8DkuWndwnINpOlukFbtvzVslAEmF+TCMaCC4fkr8oKUgVzmQ4IBojHfqFqwd28O0S6AXA7ib2P+HOTlzLcXZ3+tFz6yRObiOmGY+3k6ev5XN97Uq7FoCXkl5HTrT6tQiw2u1aY/TrZF551jyMFPZiOqW1O5zXiJx1PV/2Tw52tD8ddYc/9Zlq7qhBrlrtuhX/98cbycGBFpNaiv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDItMjdUMTc6NDQ6NDErMDg6MDDFbrv7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAyLTI3VDE3OjQ0OjQxKzA4OjAwtDMDRwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) no-repeat center right;
  background-size: contain;
  background-color: rgba(244, 245, 246, 0.3);
}
.moreBtn {
  line-height: 108px;
  font-size: 105px;
  background-size: 60px;
  height: 108px;
  width: 120px;
  display: block;
  position: relative;
  color: #f85959;
  text-align: center;
}
.cross {
  display: block;
  position: relative;
  height: 51px;
  width: 51px;
  opacity: 0.9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cross::before, .cross::after {
  height: 51px;
  position: absolute;
  content: ' ';
  width: 4px;
  background-color: #f85959;
}
.cross::before {
  transform: rotate(90deg);
}

.menuList {
  font-size: 12px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.menuBtn {
  color: #505050;
  margin: 15px 0 15px 15px;
  height: 78px;
  line-height: 78px;
  font-size: 51px;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  display: inline-block;
}
.select {
  color: #f85959;
  margin: 15px 0 15px 15px;
  height: 78px;
  line-height: 78px;
  font-size: 51px;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  display: inline-block;
}
.TopBar {
  height: 132px;
  position: relative;
  background: #d43d3d;
}

.TopBar .left,
.TopBar .middle,
.TopBar .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  line-height: 132px;
  font-size: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.title {
  padding-left: 45px;
  background-size: 249px !important;
  width: 249px;
  height: 132px;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/wap_logo@3x_581de69e.png) no-repeat right center;
  display: inline-block;
}
.refreshContainer {
  width: 75px;
  height: 132px;
  background-color: #d43d3d;
  display: inline-block;
}
.refreshBtn {
  background-size: 45px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png) no-repeat center center;
}

.left {
  font-size: 42px;
  width: 162px;
  z-index: 100;
  color: #fff;
  left: 20px;
  font-weight: 600;
}
.messageBox {
  margin-left: 36px;
  height: 75px;
  width: 96px;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png) no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

.right {
  font-size: 42px;
  color: #fff;
  right: 20px;
  z-index: 100;
  font-weight: 600;
}
.search {
  margin-right: 36px;
  height: 72px;
  width: 72px;
  display: inline-block;
  background: url(//sf1-scmcdn2-tos.pstatp.com/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png) no-repeat center;
  background-size: contain;
}
.NewsBox {
  margin: 0px 45px;
  position: relative;
  border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}
.link {
  min-height: 126px;
  padding: 48px 0px;
  display: block;
  position: relative;
  font-size: 0px;
}

.footer {
  margin-top: 18px;
  color: #999;
  overflow: hidden;
  font-size: 0;
}
.footer span {
  line-height: 36px;
  font-size: 30px;
  margin-right: 15px;
}
.ad {
  font-size: 27px;
  border-radius: 6px;
  width: 75px;
  display: inline-block;
  text-align: center;
  color: #2a90d7;
  border: 1px solid rgba(42, 144, 215, 0.5);
}
.NewsContainer {
  position: relative;
  display: block;
  font-size: 12px;
}
.Newstitle {
  line-height: 63px;
  font-size: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #222;
  font-weight: normal;
}
.Newstop{
  margin-right: 10px;
  padding: 1px 2px;
  border: 1px solid #eee;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  border-color: #ff7920!important;
  color: #ff7920!important;
}
