.login {
    margin: 16px 0;
    padding: 20px 20px 12px;
    background-color: #f4f5f6;
    font: 12px/1.3 Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.login_card {
    height: 300px;
    padding: 20px 28px 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    font-size: 12px;
    letter-spacing: 0;
}

.login_msg {
    border-bottom: 3px solid #fa7d3c;
    color: #000;
    text-align: center;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
    
}

.login_msg2 {
    border-bottom: 3px solid #797776;
    color: #000;
    text-align: center;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    
    
}
.login_card a {
    display: block;
}
.search_bar {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;
}
.search_input{
    flex: 1 1;
    height: 38px;
    font: 14px/1.14 PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
    padding-left: 10px;
    color: #1f2d3d;
    background-color: #ffffff;
    border: 1px solid #aaa9a9;
}
.login_btn {
    width: 240px;
    height: 40px;
    margin: 16px 0 14px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #eb7350;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.login_btn:hover {
    opacity: .9;
}

.checkbox{
    float: left;
}
.forget{
    float:right;
}
.notre{
    border-bottom: 1px solid #7e7e7e;
    padding-bottom:10px;
    height: 25px;
}
.notre1{
    float:left;
    color: #777777;

}
.notre2{
    float:left;
    color: #eb7350;
}
.otherlogin{
    margin-top: 5px;
}
.otherlogin img{
    height: 15px;
    float: left;
    margin-left: 3px;
}
.otherlogin1{
    float:left;
    color: #777777;
}