.right {
    float: right;
    width: 340px;
    height: 100vh;
    margin-right: 300px;
    margin-top: 70px;
}
.hottop {
    display: flex;
    width: inherit;
    height: 470px;
    border-top: 2px solid #eb7350;
    background-color: #f4f5f6;
    margin-bottom: 18px;
    text-align: center;
}

.hot_card {
    width: 300px;
    color: #222;
    padding: 0;
    margin: 20px 20px 0 18px;
    font: 18px/1.14 PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}

.hot_header {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.hot_links {
    overflow: hidden;
    margin: 20px -20px 0 0;
    border-bottom: 1px solid #e8e8e8;
}

.more_link {  
    float: left;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    margin: 0 20px 20px 0;
}
.hot{
    height: 60px;
}
.hottopic h3{
    font-size: 14px;
    text-align:left;
    padding-left:55px;
}
.hottext{
    color: #808080;
    font-size: 12px;
    text-align:left;
    padding-left:55px;
}
.hot img{
    width: 50px;
    height: 50px;
    float:left
}

.more{
    font-size:14px;
    color: #808080;
    margin-top: 5px;
}