.wrapper {
    width: 1000px;
    float: left;
    background-color: rgb(255, 255, 255);
    padding-left:100px;
    padding-right: 100px;
}
.wrap_img{
    overflow: hidden;
    height: 400px;
    margin-left: -100px;
    margin-right: -100px;}

.first_img{
    width: 1000px;
    z-index: 0;
    margin-top: -200px;
    overflow: hidden;
}
.wrapper h3{
    font-size: 30px;
}
.feed_wrapper {
    padding: 0 340px 0 140px;
}

.feed {
    width: 660px;
    margin-left: -140px;
    margin-right: -140px;
    margin-top: 100px;
}

.subtitle {
    position: relative;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #222;
}
.more{
    text-align: center;
    padding-bottom: 40px;
    color: orangered;
    font: 12px/1.3 Arial,'Microsoft YaHei';
    border-bottom: 1px solid #bebebe;
}
.bottom{
    text-align: center;
    padding-top:10px ;
    padding-bottom: 10px;
}
.bottom img{
    height: 12px;
    margin-right: 3px;
}
.bottom a{
    padding-left: 60px;
    padding-right: 60px;
    color: #9c9b9b;
    font-size: 12px;
}
.bottom a:hover{
    color:orangered
}
.rightborder{
    border-right: 1px solid #818080;
}
