.left {
    width: 110px;
    height: 600px;
    margin-right: 30px;
    margin-left: 160px;
    vertical-align: top;
    float: left;
    position: fixed!important;
    top: 70px;
    z-index: 30;
}
.channel_nav {
    display: block;
    width: 110px;
    font-size: 16px;
    text-align: center;
}

.channel_item {
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    color: #444444;
}

.channel_item_active {
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    background-color: #ff5b36;
    color: #fff;
}

.channel_item:hover {
    background-color: #ff5b36;
    color: #fff;
}

