.center {
    width: 700px;
    height: 100vh;
    float: left;
    margin-top: 70px;
    margin-left: 300px;
    z-index: -1;
}

.content {
    width: inherit;
    font-size: 12px;
    line-height: 1.14;
    text-align: left;
}

.content_list {
    width: inherit;
    border: 1px #777 dashed;
    padding: 10px 0;
}

.content_card {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.content_card::after {
    content: '';
    display: block;
    clear: both;
}

.content_text_card {
    position: relative;
    height: 100%;
}

.content_text_card_with_image {
    position: relative;
    height: 100%;
    width: 486px;
    vertical-align: middle;
    margin-top: auto;
    float: left;
}

.content_text_card_with_image::before {
    content: "";
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-size: 20px;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 700;
    max-height: 52px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title a {
    color: #222222;
}

.title a:hover {
    color: #406599;
}

.content_foot {
    margin-top: 10px;
    height: 20px;
    float:left
}

.content_foot a, .content_foot span,.comment a, .comment span
 {
    display: inline-block;
    color: #777777;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
}
.comment{
    margin-top: 10px;
    height: 20px;
    float:right;
}
.comment img{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.rightborder{
    border-right: 1px solid #818080;
}
.content_foot a:hover,.comment a:hover {
    color: #406599;
}

.tag {
    font-size: 12px!important;
    color: #87a5b5!important;
    border: 1px solid #87a5b5;
    margin-right: 10px;
    padding: 1px 2px;
}

.avatar {
    color: #fff;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 100%;
}
.content_image {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    width: 158px;
    margin-right: 16px;
    line-height: 1;
    float: left;
}

.content_image a {
    text-align: center;
}

.content_image:hover img {
    transform: matrix(1.04, 0, 0, 1.04, 0, 0);
    backface-visibility: hidden;
}

.content_image img {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    transition: all .5s ease-out .1s;
}

.content_image::before {
    content: '';
    vertical-align: middle;
    visibility: hidden;
    width: 0;
}

